<!DOCTYPE html>
<html>
<head>
	<title>Sonya Eick - Software Developer</title>

	<link rel="stylesheet" type="text/css" href="resume.css">
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Playfair+Display+SC' rel='stylesheet' type='text/css'>
</head>

<body>

	<h1>SONYA EICK </h1>

	<div id="bio">Full-Stack &amp; Operations Engineer</div>

	<div id="address">4017 Victory Drive Unit 101, Austin, TX 78704
	<br />when@issonyabusy.com
	<br />808.485.9930
	</div>

	<p>WORK EXPERIENCE</p>

	<br />
	<div id="title">Back-end Software Engineer</div>
	<br />
	<div id="bold-underline">Chasm.io</div>
	Austin, TX (July 2013 - current)
	<div id="underline">Technologies:</div> Python, Flask, MySQL, Arch Linux Environment, Haml &amp; Sass/Compass, AngularJS, Wand, PyKlout
	<br />
	<br />
	Maintained the back-end codebase, fixed bugs, wrote test code, built features, trained and managed co-workers, researching network security/ cryptography, shell scripting, and leading the main API build. Installed Arch Linux on company computers.
	<br />
	<br />
	<div id="title">Front-end Software Engineer</div>
	<br />
	<div id="bold-underline">FTW Group</div>
	Oakland, CA (May 2013 - July 2013)
	<div id="underline">Technologies:</div>
	Python, Django, MySQL, Wand
	<br />
	<br />
	Worked on client-to-client projects, including a scrolling gallery with image uploading and manipulating capabilities, a shell script to tear down and rebuild testing servers, &amp; unit tests.

	<p>PERSONAL PROJECTS</p>

	<br />
	<div id="bold-underline">issonyabusy.com</div> (2010 - current) <br />
	Personal website hosted on an EC2, built with PHP, HTML/CSS, and MySQL, with the purpose of displaying my busy status and a link to my calendar for visitors to schedule appointments with me.

	<br />
	<div id="bold-underline">DataDork</div> (2011 - 2012) <br />
	Dating &amp; social feedback web application built with Python, Flask, SQLite3, HTML/CSS that processes survey scores &amp; averages out statistics for the user.

	<br />
	<div id="bold-underline">Technical blog</div> (2012) <br />
	Blog built with Python, Flask, HTML/CSS to document technical projects
	<br />
	<div id="bold-underline">Advice Column</div> (2000) <br />
	Website built with HTML/CSS on DreamHost with the intent for 12 year old girls to answer adult relationship questions with genuine advice.

	<p>EDUCATION &amp; TRAINING</p>
	<br /><div id="bold-underline">Hackbright Academy </div>
	<br />(Dec 2012)
	<br />Software Engineering
	<br />
	<br /><div id="bold-underline">Northern Michigan University </div>
	<br />(Sept 2008)
	<br />Architectural Design

	<p>SKILLS &amp; PROFICIENCIES</p>

	<ul>
		<li>PHP
		<li>Python
		<li>AngularJS
		<li>Django
		<li>Flask
		<li>SQLite3
		<li>MySQL
		<li>HTML/CSS &amp; Haml/Sass
		<li>Compass
		<li>AWS; Ubuntu 12.04, EC2, Linux; Ubuntu, Arch
		<li>shell scripting
		<li>API
		<li>TDD, unittest
		<li>Git, OSS
	</ul>

	<p>ACHIEVEMENTS </p>
		
	<br />2nd Place Winner of Health 2.0 Hackathon (GoodMoodFoods)
	<br />3rd Place Winner of Alameda County acApps Hackathon (ALAMAP)
	<br />Mentioned in SFGate.com Article - 
	<div id="underline">Startups Put New Spin on Online Teaching</div>
	<br />Mentioned in Udemy.com Blog - 
	<div id="underline">How to Become a Web Developer in Silicon Valley</div>
	<br />
	<br />
	<br />
	<br />
	* References upon request

</body>

</html>